[submodule "projects/etch-a-sketch"]
	path = projects/etch-a-sketch
	url = git@github.com:mrmichaelkang/etch-a-sketch.git
[submodule "projects/calculator"]
	path = projects/calculator
	url = git@github.com:mrmichaelkang/calculator.git
[submodule "projects/library-management-app"]
	path = projects/library-management-app
	url = git@github.com:mrmichaelkang/library-management-app.git
[submodule "projects/tic-tac-toe"]
	path = projects/tic-tac-toe
	url = git@github.com:mrmichaelkang/tic-tac-toe.git
